/* 全体のマージンとパディングをリセット */
body, html {
  margin: 0;
  padding: 0;
}

/* フッターのスタイル */
#main-footer {
  width: 100%;  /* 横幅を100%に */
}
/* ヘッダー全体のスタイリング */
#main-header {
    background-color:white;  /* メインテーマは緑 */
    color: white;
    position: fixed;  /* 画面上部に常に表示 */
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
   /* ヘッダーロゴ部分のスタイリング */
   #logo {
    color:black;
    font-size: 24px;
  }
  /* ヘッダーナビゲーションメニューのスタイリング */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height:8vh;
  
    
  }
  
  
  nav ul li p{
    color:rgba(101, 205, 75, 0.652);
  }
  nav ul li a {
    color:rgba(101, 205, 75, 0.652);
    text-decoration: none;
    display: block;
    padding:1.5vh 1vw 1.5vh 1vw;
  
  }
  nav ul li a span{
    color:#888;
  }
  
  nav ul li p {
    margin-top: 0px;
    font-size: 5px;
  }

  /* ナビゲーションメニューのホバー効果 */
  nav ul li:hover {
    background-color:#23AC38;  /* 背景色を暗い緑に */
    color: white;  /* 文字色を白に */
    
  }
  nav ul li:hover  .header-word{
    
    color: white;  /* 文字色を白に */
    
  }
  
  
  /* テキストがリンクである場合、li要素がホバーされたらその色も変更 */
  nav ul li:hover a {
    color: white;
  }
  
  /* ヒーローイメージ */
#hero img {
    width: 100%;
    height: auto;
  }
  
  /* 会社紹介 */
  #about {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* 事業紹介 */
  #services {
    padding: 20px;
  }
  
  .service-item {
    margin-bottom: 20px;
  }
  
  /* フッター全体のスタイリング */
#main-footer {
    width:100%;
    background-color: #333;  /* 背景色は暗めに */
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
  }
  
  /* フッター内の各要素のスタイリング */
  .footer-item {
    margin-bottom: 10px;
  }
  
  /* メールボタンのスタイリング */
  #email-button {
    background-color: green;  /* メインテーマに合わせて緑 */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #email-button:hover {
    background-color: darkgreen;  /* ホバー時の色 */
  }
